<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="ApplicationUser" asp-action="Create">Login</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="ApplicationUser" asp-action="GetListOfStudents">GetListOfStudents</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="Index">Get Courses</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Group" asp-action="Index">Get Groups</a>
</li>