<!-- Footer -->
<footer class="page-footer font-small fixed-bottom">

    <div class="footer-copyright text-center py-3">
        © Kyrgyz-Russian Academy Education All 2016 (Krao)
        <a asp-area="" asp-controller="Home" asp-action="Index">
            Наш адрес: Кыргызстан г. Бишкек, ул. Л. Толстого, 210
        </a>
    </div>

</footer>
