@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!-- Sidebar navigation -->
<div id="slide-out" class="side-nav bg-primary fixed">
    <ul class="custom-scrollbar">
        <!-- Logo -->
        <li>
            <div class="logo-wrapper waves-light">
                <a href="@Url.Action("Index", "Home")"><img src="~/img/Logo.png" class="img-fluid flex-center"></a>
            </div>
        </li>
        <!--/. Logo -->
        <!-- Side navigation links -->
        <li>
            <ul class="collapsible collapsible-accordion">
                @if (User.IsInRole(UserRoles.Admin))
                {
                    @await Html.PartialAsync("_AdminSideNavElements");
                }

                @if (User.IsInRole(UserRoles.Teacher))
                {
                    @await Html.PartialAsync("_TeacherSideNavElements");    
                }
            </ul>
        </li>
        <!--/. Side navigation links -->
    </ul>
    <div class="sidenav-bg mask-strong"></div>
</div>
<!--/. Sidebar navigation -->