<li>
    <a class="collapsible-header waves-effect arrow-r" asp-action="BeneficiaryList" asp-controller="Beneficiary">Функции учителя</a>
</li>

<li policy="RequestRead">
    <a class="collapsible-header waves-effect arrow-r" asp-action="RequestList" asp-controller="Request">Учитель</a>
</li>
